<div class="container">
  <header class="header">

    <div class="logo l-logo">
      <a href="index.html"><img src="/assets/build/assets/images/logo.png"></a>
    </div>
    <!-- /.logo -->

    <h2>Voice of Customer</h2>

  </header>
  <!-- /.header-->
  <div class="l-content">

    <!-- /.sidebar-->
    <main class="page-dashboard main">



      <div class="widget">
        <div class="form-container">



          <div class="form-row">
            <div class="form-column twelve">
              <div class="form-label">
                Comments
              </div>
              <div class="form-field">
                <textarea class="ui-inputtext ui-corner-all ui-state-default ui-widget"></textarea>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-column twelve form-control">
              <a class="btn">Submit</a>
              <a class="btn btn--cancel">Cancel</a>
            </div>
          </div>



        </div>
        <div class="segment">
          <h2>Segment</h2>
          <p>Aliquam a metus non purus tincidunt faucibus. Nunc quis libero sed dolor tincidunt elementum. Praesent
            hendrerit dolor eget sapien egestas lacinia. Praesent ac accumsan lectus.</p>

        </div>

        <div class="part-speach">
          <h2>
            Part of speach
          </h2>

          <div class="speach__content">
            <p>
              i love sports
            </p>

          </div>

        </div>
        <router-outlet></router-outlet>
      </div>



    </main>
  </div>
  <footer>
    <p>Copyright © 2020, Clearview Pro All Rights Reserved.</p>
  </footer>
</div>
