//VOC

.comment {
  float: left;
  width: 100%;
  padding: 0;

  p {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #989898;
  }
}

.segment {
  float: left;
  width: 100%;
  border-top: 1px solid #ebebeb;
  padding:15px 0 10px;
  margin-top: 15px;

  h2 {
    font-size:14px;
    color: #4d565f;
    font-weight: 400;
    margin-bottom: 10px;
  }

  p {
    color: #989898;
    margin: 0;
    line-height:16px;
  }
}

.result-panel {
  float: left;
  margin-top:20px;
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 0;
  border-radius: 3px;

  h2 {
    font-size: 12px;
    color: #4d565f;
    border-bottom: 1px solid #ebebeb;
    font-weight: 500;
    padding: 7px 10px;
  }

  .panel__content {
    background: #f8f8f8;
    padding: 10px;
  }

  p {
    color: #989898;
    line-height: 18px;
  }
}

.part-speach {
  float: left;
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 0;
  border-radius: 3px;

  h2 {
    font-size: 12px;
    color: #4d565f;
    border-bottom: 1px solid #ebebeb;
    font-weight: 500;
    padding: 10px;
  }

  .speach__content {
    background: #f8f8f8;
    padding: 10px;
  }

  p {
    color: #989898;
    line-height: 18px;
  }
}

.sentiment {
  span {
    display: inline-block;
    padding: 2px 10px;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 500;
    border: 1px solid $clr-pri;
    color: $clr-pri;
    background: lighten($clr-pri, 34%);

    &.negative {
      border: 1px solid $clr-red;
      color: $clr-red;
      background: lighten($clr-red, 40%);
    }

    &.positive {
      border: 1px solid $clr-green;
      color: $clr-green;
      background: lighten($clr-green, 60%);
    }

    &.unassigned {
      border: 1px solid #969dab;
      color: #969dab;
      background: lighten(#969dab, 60%);
    }

    &.neutral {
      border: 1px solid $clr-amber;
      color: $clr-amber;
      background: lighten($clr-amber, 38%);
    }
  }
}

.speach__part {
  display: inline-block;
  margin: 5px;
  text-align: center;

  p {
    border-top: 2px solid #ebebeb;
    padding-top: 4px;
    font-size: 13px;
    color: #4d565f;
  }

  span {
    display: inline-block;
    padding: 2px 10px;
    font-size: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 500;
    border: 1px solid $clr-pri;
    color: $clr-pri;
    background: lighten($clr-pri, 34%);
  }
}



.comments__sections{
  margin: 20px 0;
 // border-top: 1px solid #ebebeb;

  .section__col{
    @include span(6 no-gutters);
  }
}
