<!--
<div  *ngFor="let numb of CommentNumber; let i =index">
  <textarea [(ngModel)]="numb.value" class="commentArea"></textarea>
</div>

  <button (click)="AddComment()">Add Comment</button>
  <button (click)="DeleteComment()">Delete Comment</button>
  <button (click)="classify()">Process</button>

 -->


    <!-- /.sidebar-->
    <main class="main">

        <div class="form-container">
          <div class="form-row">
            <div class="form-column twelve">
              <div class="form-label">
                Please enter your text
              </div>
              <div class="form-field">
                <ng-container *ngFor="let numb of CommentNumber; let i =index">
                <textarea [(ngModel)]="numb.value"
                  class="ui-inputtext ui-corner-all ui-state-default ui-widget"></textarea>

                </ng-container>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-column twelve form-control">
              <a class="btn btn--submit" [ngClass]="{'btn--loading': resultLoaderBoolean}" (click)="classify()">Submit</a>
              <!-- <a class="btn btn--cancel">Cancel</a> -->
              <a class="btn btn--cancel" (click)="AddComment()">Add Comment</a>
              <a class="btn btn--cancel" (click)="DeleteComment()">Delete Comment</a>
            </div>
          </div>
        </div>

  <app-result *ngIf="resultReceived" [NLPResult]="resultData"></app-result>


    </main>

