<!--
<div  *ngFor="let numb of CommentNumber; let i =index">
  <textarea [(ngModel)]="numb.value" class="commentArea"></textarea>
</div>

  <button (click)="AddComment()">Add Comment</button>
  <button (click)="DeleteComment()">Delete Comment</button>
  <button (click)="classify()">Process</button>

 -->


<!-- /.sidebar-->
<main class="main">

  <div class="widget full--widget">
    <div class="form-container">
      <div class="form-row">
        <div class="form-column twelve">
          <div class="form-label">
            Please enter your text
          </div>
          <div class="form-field">

            <textarea [(ngModel)]="CommentText"
              class="ui-inputtext ui-corner-all ui-state-default ui-widget"></textarea>
          </div>
        </div>
      </div>


    </div>
    <div class="form__footer">
      <a class="btn btn--submit" [ngClass]="{'btn--loading': resultLoaderBoolean}" (click)="classify()">Submit</a>
          <!-- <a class="btn btn--cancel">Cancel</a> -->

          <a class="btn btn--cancel" (click)="DeleteComment()">Delete Comment</a>
          <a class="btn btn--outline right" (click)="AddComment()">Add Comment</a>
    </div>
  </div>


  <ng-container *ngFor="let numb of CommentNumber; let i =index">
    <app-result [ResultProcessed]="ResultProcessed" [NLPResult]="resultData?.predictions?.length > 0 ? resultData.predictions[i] : {}" [CommentText]="numb.value"></app-result>
  </ng-container>

</main>
